<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="db.properties" />
	<typeAliases>

		<typeAlias type="com.sc.speedcampus.user.member.vo.UserVO" alias="myuser" />
		<typeAlias type="com.sc.speedcampus.user.mycourse.vo.MyCourseVO" alias="mycourse" />
		<typeAlias type="com.sc.speedcampus.admin.member.vo.AdminVO" alias="myadmin" />
		<typeAlias type="com.sc.speedcampus.admin.course.vo.CourseVO" alias="admincourse" />
	    <typeAlias type="com.sc.speedcampus.user.notice.vo.NoticeVO" alias="mynotice"/>
		<typeAlias type="com.sc.speedcampus.user.study.vo.StudyVO" alias="mystudy"/>		
		<typeAlias type="com.sc.speedcampus.user.scomment.vo.ScommentVO" alias="scomment"/>	
		<typeAlias type="com.sc.speedcampus.user.qna.vo.QnaVO" alias="myQ"/>	
						
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappings/course-mapping.xml" />
		<mapper resource="mappings/admin-mapping.xml" />
		<mapper resource="mappings/myCourse-mapping.xml" />
		<mapper resource="mappings/member-mapping.xml" />
		<mapper resource="mappings/notice-mapping.xml" />
		<mapper resource = "mappings/study-mapping.xml"/>	
		<mapper resource = "mappings/scomment-mapping.xml"/>
		<mapper resource = "mappings/qna-mapping.xml"/>			
	</mappers>
</configuration>
